#container{
    width: 100%;
    background-color: #234465;
    height: 100px;
}
#logo{
    content: url("../logo.png");
    float: left;
}
#menu-container{
    float: right;
}
.sub-menu{
    visibility: hidden;
}
ul{
    display:    block;
}
nav>ul>li{
    display: inline-block;
}
.sub-menu>li:hover{
    visibility: visible;
}